@import "str-to-list";

.tag-box,
.discourse-tags,
.topic-list .link-bottom-line,
.extra-info-wrapper .topic-header-extra {

  $tags-yellow: str-to-list("#{$yellow}", "|");
  @each $tag in $tags-yellow {
    .discourse-tag.box[data-tag-name="#{$tag}"] {
      color: var(--secondary) !important;
      background-color: #e657ff;
      &:hover {
        color: var(--secondary);
        background-color: #e657ff;
      }
    }
  }
  $tags-orange: str-to-list("#{$orange}", "|");
  @each $tag in $tags-orange {
    .discourse-tag.box[data-tag-name="#{$tag}"] {
      color: var(--secondary) !important;
      background-color: #e38eff;
      &:hover {
        color: var(--secondary);
        background-color: #e38eff;
      }
    }
  }
  $tags-red: str-to-list("#{$red}", "|");
  @each $tag in $tags-red {
    .discourse-tag.box[data-tag-name="#{$tag}"] {
      color: var(--secondary) !important;
      background-color: #ed5144;
      &:hover {
        color: var(--secondary);
        background-color: #ed5144;
      }
    }
  }
  $tags-green: str-to-list("#{$green}", "|");
  @each $tag in $tags-green {
    .discourse-tag.box[data-tag-name="#{$tag}"] {
      color: var(--secondary) !important;
      background-color: #ff009a;
      &:hover {
        color: var(--secondary);
        background-color: #ff009a;
      }
    }
  }
  $tags-lightblue: str-to-list("#{$lightblue}", "|");
  @each $tag in $tags-lightblue {
    .discourse-tag.box[data-tag-name="#{$tag}"] {
      color: var(--secondary) !important;
      background-color: #00d9ee;
      &:hover {
        color: var(--secondary);
        background-color: #00d9ee;
      }
    }
  }
  $tags-blue: str-to-list("#{$blue}", "|");
  @each $tag in $tags-blue {
    .discourse-tag.box[data-tag-name="#{$tag}"] {
      color: var(--secondary) !important;
      background-color: #4000cc;
      &:hover {
        color: var(--secondary);
        background-color: #4000cc;
      }
    }
  }
  $tags-black: str-to-list("#{$black}", "|");
  @each $tag in $tags-black {
    .discourse-tag.box[data-tag-name="#{$tag}"] {
      color: var(--secondary) !important;
      background-color: #f5f0f0;
      &:hover {
        color: var(--secondary);
        background-color: #f5f0f0;
      }
    }
  }
  $tags-outline: str-to-list("#{$outline}", "|");
  @each $tag in $tags-outline {
    .discourse-tag.box[data-tag-name="#{$tag}"] {
      color: var(--tertiary-hover);
      background-color: var(--secondary) !important;
      border: 1px solid var(--tertiary-hover);
      &:hover {
        color: var(--tertiary-hover);
        background-color: var(--secondary);
      }
    }
  }
}
